<!-- About Section -->
<section class="about-us success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h4>What’s Our Story?</h4><br>
                <h3><strong>We are Chicagoans who care deeply about our home and dedicate our talents to designing the Chicago that we all deserve. ChiByDesign is a Black-owned and people of color led human-centered design firm.</strong>
                </h3>
                    <p>
                        We believe that empowering the folks who need the most support with the tools and mindsets of design thinking can unlock limitless creative and effective solutions. We work with partners to:
                    </p><br>
            </div>
        </div>
        <div class="row logo-icons">
            <div class="col-md-3 icons-h2">
                <img src="images/frame.png"></img>
                <h2 class="text-center"><strong>FRAME</strong></h2><p class="text-center">goals and challenges</p>
            </div>
            <div class="col-md-3 icons-h2">
                <img src="images/explore.png"></img>
                <h2 class="text-center"><strong>EXPLORE</strong></h2><p class="text-center">the problem space</p>
            </div>
            <div class="col-md-3 icons-h2">
                <img src="images/bricks.png"></img>
                <h2 class="text-center"><strong>CREATE</strong></h2><p class="text-center">effective solutions </p>
            </div>
            <div class="col-md-3 icons-h2">
                <img src="images/arrows.png"></img>
                <h2 class="text-center"><strong>DEPLOY</strong></h2><p class="text-center">and test solutions while building the partners capacity</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id= "learn-button" type="button" class="btn btn-success btn-lg add-button" data-toggle="modal" data-target="#portfolioModal7">Learn more</button><br><br><br><br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h4>Why Do You Need Us?</h4><br>
                <h3>
                    <strong>We See the World Different/We Experience the World Different/We Design the World Different</strong> which means you will get different results. The world desperately needs different right now.
                </h3>
                <div class="container">

                <ul class="list-inline item-details team-images">
                    <br>
                    <div class="row">
                        <div class="col-lg-1">
                            <h3>01</h3>
                        </div>
                        <div class="col-lg-6">
                            <h3 style="text-align: left;">Access spaces and people</h3>
                            <p>
                                Because of our backgrounds we are uniquely able to access spaces and people in ways that others can’t. This unlocks previously untapped perspectives which informs challenges and solutions in a way that brings different results.
                            </p>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-1">
                            <h3>02</h3>
                        </div>
                        <div class="col-lg-6">
                            <h3 style="text-align: left;">Navigate the Nuances of Cultures and Communities</h3>
                            <p>
                                During my first design challenge with Stanford and Capital One we set out to create a financial tool to help people save money. One of our best interviews was a 60 year old Black woman from San Francisco who told us an amazing story about her life. During the interview she told us about getting her nails done. When we brought her story back to the team my teammates interpreted her ritual about getting her nails done as a pain point. This woman reminded me of my grandmother who also had a ritual about getting her nails done and it was a prideful experience for her. I recognized that pride in our user and brought it to the attention of the team. This changed the way we framed the problem and how we designed our solution. This experience showed me the absolute necessity for designers of color and women to be involved in the design process every step of the way. We are all limited in our ability to truly understand those for whom we design because of our limited experiences. This is why we need each other to see the world in its totality.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <h3>03</h3>
                        </div>
                        <div class="col-lg-6">
                            <h3 style="text-align: left;">Leverage the expertise in Communities</h3>
                            <p>
                                Communities are affected by many structural and systemic ills, but we believe communities also possess the solutions. We saw this firsthand during our work on the Grove 3547 project in the Bronzeville neighborhood on the South Side of Chicago. Community residents and leaders brought solutions to the drawing board and we taught them design thinking methodologies, mindsets, and empowered them with tools to elevate and refine those solutions.
                            </p>
                        </div>
                    </div><br>
                </ul>
            </div>
                <br><br>
            </div>
        </div>
    </div>
</section>