<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>What does ChiByDesign mean?</h2>
                <h4>
                    Chicago is known for many things: segregation, hard work, gangs, family, industry, music (so many different types), parks, labor movement, etc. Many of these experiences good and bad play a crucial role in shaping / All of these experiences make Chicagoans who they are: innovative, optimistic, and diverse.
                </h4>

                    <h4>The unique qualities of the people and communities of this city are at the heart of the work that we do and it is crucial that we stay true to this spirit. And this is why we choose to base our work in this great city. We do this by SOMETHING HERE ABOUT TEACHING RESIDENTS, CO-DESIGN AND DIVERSE ACTIVATORS WHO ARE EMBEDDED IN THE COMMUNITY. ChiByDesign, with our hard work, connectivity, and innovative spirit can now design Chicago.</h4>
            </div>
        </div>
    </div>
</section>