<!-- About Section -->
<section class="about-us success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h4>Who We Are</h4><br>
                <h3>
                    <strong>
                    ChiByDesign is a Black-owned and people of color led human-centered design firm. 
                    </strong>
                </h3>
                <button id= "learn-button" type="button" class="btn btn-success btn-lg add-button" data-toggle="modal" data-target="#portfolioModal7">Learn More</button><br><br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h4>Our Why</h4><br>
                <h3>
                    <strong>We are Chicagoans who care deeply about our home and dedicate our talents to designing the Chicago that we all deserve.</strong>
                </h3>
                <br><br>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h4><span class="word">Our How</span></h4><br>
                <h3>
                    <strong>
                        ChiByDesign believes that empowering the folks who need the most support with the tools and mindsets of design thinking can unlock limitless creative and effective solutions. 
                    </strong>
                </h3>
                    <p>
                     We work with communities to take their solutions to the next level while adding skills and resources to further innovate after our work is complete.
                    </p>
            </div>
        </div>
    </div>
</section>