<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4><span class="word"><em><strong>Our Why</strong></em></span></h4><br>
                <p style="text-align: left;">
                    We are Chicagoans who care deeply about our home and dedicate our talents to designing the Chicago that we all deserve. 
                </p>
            </div>
            <div class="col-lg-12 text-center">
                <h4><span class="word"><em><strong>Our How</strong></em></span></h4><br>
                <p style="text-align: left;">
                    ChiByDesign believes that empowering the folks who need the most support with the tools and mindsets of design thinking can unlock limitless creative and effective solutions. We work with communities to take their solutions to the next level while adding skills and resources to further innovate after our work is complete.
                </p>
            </div>
        </div>
    </div>
</section>