<div class="portfolio-modal modal animated fadeInUp" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
        <header>
            <div class="container" id="maincontent" tabindex="-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <h1 class="name align-left">Our Services</h1>
                            <a href="#about-body"><button class="btn btn-lg glyphicon glyphicon-menu-down" aria-hidden="true"></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" class="animated bounceOut">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>

            <div class="container">

                <ul class="list-inline item-details team-images">
                    <br>
                    <div class="row">
                        <div class="col-lg-2">
                            <h3>01</h3>
                        </div>
                        <div class="col-lg-10">
                            <h3 style="text-align: left;">Community-Empowered Design</h3>
                            <p>
                                Explore the problem you’re stuck on. It’s hands-on, and sometimes it’s messy, but we’ll be with you every step of the way. Whether it’s a short project or an extensive undertaking, together we’ll explore the issue from all perspectives, and develop ways to address it. <!--See how (Add an example)-->
                            </p>
                            <h3 style="text-align: left;">Services</h3>
                            <div class="list">
                                <ul type="disc">
                                    <li>Empathy-driven qualitative research</li>
                                    <li>Ethnography</li>
                                    <li>Community engagement</li>
                                    <li>Divergent idea generation</li>
                                    <li>Prototype coaching, implementation, and evaluation</li>
                                </ul>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-2">
                            <h3>02</h3>
                        </div>
                        <div class="col-lg-10">
                            <h3 style="text-align: left;">Team-Based Learning</h3>
                            <p>
                                Equip leaders with social innovation tools. Think of our programs as BYOC (Bring Your Own Challenge): we provide the structure, tools, and guidance to think differently about your problem. We borrow best practices from innovation, social change, and leadership, but no program looks the same. <!--Explore how we (Add an example)-->
                            </p>
                            <h3 style="text-align: left;">Services</h3>
                            <div class="list">
                                <ul type="disc">
                                    <li>Program design and facilitation</li>
                                    <li>“Train the Trainer” models</li>
                                    <li>Community engagement</li>
                                    <li>Capacity building</li>
                                    <li>Curriculum development</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ul>
                <button id="btnSubmit" type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
<div class="portfolio-modal modal animated rotateInUpLeft" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <header>
            <div class="container" id="maincontent" tabindex="-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <h1 class="name align-left">Our Team</h1>
                            <a href="#about-body"><button class="btn btn-lg glyphicon glyphicon-menu-down" aria-hidden="true"></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" class="animated bounceOut">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>

            <div class="container">

                <ul class="list-inline item-details team-images">
                      <div class="row">
                        <div class="col-lg-6">
                          <img src="/images/chris.jpg"/>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="team-h2">Chris Rudd</h2>
                            <h3 class="team-h3">Founder + Lead Activator</h3>
                            <p class="team-p">
                            Chris Rudd is a designer, community organizer and youth worker with a passion for social justice. He’s worked with youth on the south and west sides of Chicago, challenging them to engage with their communities through activism and technology. Chris has helped youth from Chicago to the Bay Area design 8 civic apps. As the director of the Juvenile Justice Council (JJC) at Mikva Challenge, Chris worked with 25 diverse young leaders from Cook County to develop an app called Expunge.io, which connects youth with pro bono lawyers to complete the expungement process.
                          </p>
                          <p class="team-p">
                            As a Civic Innovation Fellow at the Stanford Institute of Design (d.school) Chris spent a year immersed in graduate courses learning, applying and honing his skills in the Human Centered Design methodology. During the fellowship, he designed a program, Youth Tech Design, for opportunity and "at-risk" youth that can further bridge the gap between young people and the tech sector and allow them to create solutions to their self-identified issues.
                          </p>
                        </div>
                    </div><br><br> 
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 class="team-h2">Jesus Medina</h2>
                                <h3 class="team-h3">Software Engineer</h3>
                                <p class="team-p">
                                 Jesus "Chuy" Medina is a full stack web developer with a passion for positive social change. Jesus is dedicated to utilizing his tech skills to help empower marginalized communities. He has experience developing full stack web applications and is moving towards developing native mobile apps using react-native, a framework for building native mobile apps using React. He is also the designer and developer of <a href="http://expunge.io" target="_blank">Expunge.io</a>, an innovative web app designed to assist young people with navigating the juvenile expungement process.</a>
                                </p>
                                <p class="team-p">
                                    As a former member of the Cook County Juvenile Justice Council, he, along with his fellow council members, pioneered ground breaking research into the Illinois juvenile expungement process, where they then used the gathered information and data to develop policies, tools, and practices that can better the transition for a juvenile from corrections back to community. They then went on to present these <a href="https://docs.google.com/file/d/0ByNPZcL7VWcVODVkb20wYU5vOVk/edit" target="_blank">recommendations</a> to local government officials, such as Cook County Board President, Toni Preckwinkle.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="/images/chuy.jpg"/> 
                            </div>
                        </div><br><br>
                            <div class="row">
                                    <div class="col-lg-6">
                                      <img src="/images/maya.jpeg"/>
                                    </div>
                                <div class="col-lg-6">
                                    <h2 class="team-h2">Maya Bird-Murphy</h2>
                                    <h3 class="team-h3">Designer + Activator</h3>
                                    <p class="team-p">
                                    Maya Bird-Murphy has been a designer at several award-winning architecture firms. She earned her Master of Architecture degree from Boston Architectural College in 2017 and Bachelor of Science in Architecture in 2014 from Ball State University. 
                                    </p>
                                    <p class="team-p">
                                    Maya believes that architecture should not be a privilege and must expand to accommodate more people through teaching and community engagement. While working full time and completing her master's, she founded Chicago Mobile Makers, a nonprofit bringing design focused skill-building workshops to underrepresented communities.
                                    </p>
                                </div>
                            </div><br><br>
                            <div class="row">
                            <div class="col-lg-6">
                                <h2 class="team-h2">Jan Salazar</h2>
                                <h3 class="team-h3">Photographer</h3>
                                <p class="team-p">
                                 Jan is a photographer passionate about learning, creativity, and spiritual growth. Her development in photography has formulated over the years with pursuits in capturing architectural design, people, her travels, special events and social issues.In recent years, portraiture has become an essential in her photography. Her imagery explores the complexity of each individual that stands before her lens. Her images show the exchange of trust and vulnerability between her and her subjects. Her distinctive ability to build relationships with her subjects create authentic visual stories.
                                </p> 
                                <p class="team-p">
                                She has contributed her talents to international and local community-based organizations: KICS Chicago, HOPES for Kids, Wood Family Foundation. Her work has appeared in several publications/media outlets throughout Chicago - Chicago Tribune, Modern Luxury, Chicago Splash, Sheridan Road Magazine, CBS Chicago.</a>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <img src="/images/jan.jpg"/> 
                            </div>
                        </div><br><br>
                        <div class="row">
                                    <div class="col-lg-6">
                                      <img src="/images/arvelle.jpg"/>
                                    </div>
                                <div class="col-lg-6">
                                    <h2 class="team-h2">Arvelle Brown</h2>
                                    <h3 class="team-h3">Graphic designer + Visual Artist</h3>
                                    <p class="team-p">
                                    Arvelle is graphic designer and visual artist passionate about the arts, family, and his community. Born in Chicago, Arvelle  grew up in a family where creativity has been encouraged in a variety of mediums. Growing up Arvelle would pass the time drawing and sketching for hours on any piece of paper he could find. Art then became his favorite subject as he discovered his passion and gift.
                                    </p>
                                    <p class="team-p">
                                    While attending Rich South High school he further developed his skill set and found a new love for different mediums that included painting, illustration and graphic design. From there he attended Southern Illinois University, tried his hand at several different aspects of Art and Design, from Fashion to Architecture and ultimately ending with Industrial Design. He graduated with a BFA in Industrial Design.
                                    </p>
                                    <p class="team-p">
                                        Arvelle currently uses his talents to support artists and entrepreneurs realize their visual dreams. You can find his work at <a href="http://www.coroflot.com/Arvelle_jamal" target="_blank">www.coroflot.com/Arvelle_jamal</a></p>
                                </div>
                            </div><br><br>

            </div>
                </ul>
                <button id="btnSubmit" type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal animated fadeInDownBig" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <header>
            <div class="container" id="maincontent" tabindex="-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <h1 class="name align-left">Grove 3547</h1>
                            <a href="#about-body"><button class="btn btn-lg glyphicon glyphicon-menu-down" aria-hidden="true"></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" data-target="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Grove 3547</h2>
                            <h3>
                                Challenge: How can we work together to support young people in Chicago to develop resilient livelihoods?
                            </h3>
                            <p>Grove 3547 was an initiative of the Chicago Community Trust to bring together Bronzeville stakeholders (community residents, non-profits, civic leaders, and local government) to co-create innovative solutions. Worked with twenty stakeholders teaching the design process (empathy, define, ideate, prototype, test). Teams were coached and supported through each phase. The Grove teams created initiatives that included a job training program for youth and employee pipeline for small businesses in Bronzeville (Hire Local), a bicycle repair and food sustainability training program (GroveEco), and a local restorative justice hub for Bronzeville youth and families.</p>
                            <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal animated fadeInUpBig" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <header>
            <div class="container" id="maincontent" tabindex="-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <h1 class="name align-left">Expunge.io</h1>
                            <a href="#about-body"><button class="btn btn-lg glyphicon glyphicon-menu-down" aria-hidden="true"></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" data-target="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Expunge.io</h2>
                            <h3>Challenge: How can we help justice involved youth get a second chance?</h3>
                            <p>Innovative web-app designed to help young people expunge their criminal record. Worked with youth from across the Chicagoland area, the Justice Advisory Council of Cook County, Legal Assistance Foundation, and Smart Chicago Collaborative to create the web-app to help young people expunge their criminal record. Over 3 years the we worked with the young people to research, design and redesign the web-app to better meet the needs of their peers. We also created a CTA ad campaign to bring awareness to the issue and support to youth who need the service. The <a href="http://expunge.io" target="_blank">Expunge.io</a> project led to changes in Illinois expungement policy, such as the <a href="https://www.nbcchicago.com/blogs/ward-room/rahm-emanuel-expunge-juvenile-arrest-records-261553551.html" target="_blank">Clean Slate Initiative</a>. <a href="http://expunge.io" target="_blank">Expunge.io</a> has been replicated in Philadelphia, Louisiana, and Maryland (so far).</p>
                            <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal animated fadeInLeftBig" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <header>
            <div class="container" id="maincontent" tabindex="-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <h1 class="name align-left">Youth Tech Design</h1>
                            <a href="#about-body"><button class="btn btn-lg glyphicon glyphicon-menu-down" aria-hidden="true"></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" data-target="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Youth Tech Design</h2><br>
                            <p>During his time at the Stanford d.school Chris designed YouthTechDesign, a summer program for youth to learn human-centered design while creating civic technology (apps, websites, etc.)</p>
                            <img src="images/fun-kids.jpg" class="img-responsive img-centered" alt="">
                            <p>
                            The YouthTechDesign program further bridges the gap between young people, adult decision makers, and the tech sector and allows the youth to create solutions to their self-identified issues. During the 4-week program youth created digital prototypes that addressed issues like access to higher learning, transportation to school, segregation, and access to government assistance.</p>
                            <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal animated fadeInRightBig" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <header>
            <div class="container" id="maincontent" tabindex="-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <h1 class="name align-left">On the table design</h1>
                            <a href="#about-body"><button class="btn btn-lg glyphicon glyphicon-menu-down" aria-hidden="true"></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" data-target="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>On The Table Redesign</h2>
                            <h3>Challenge: How can On The Table better meet the needs of the variety of hosts?</h3>
                            <p>Collaborated with The Chicago Community Trust to redesign the award-winning and nationally replicated <a href="https://onthetable.com/about/" target="_blank">On The Table program</a>. The redesign process was centered on better understanding the values, behaviors and needs of On the Table hosts. The empathy research <em>focused on understanding the extreme users of On The Table and how they view ‘action’</em>. This empathy research revealed fascinating insights that helped us create design principles for the future of the already amazing program.</p>
                            <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <header>
            <div class="container" id="maincontent" tabindex="-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <h1 class="name align-left">MigraHack</h1>
                            <a href="#about-body"><button class="btn btn-lg glyphicon glyphicon-menu-down" aria-hidden="true"></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" data-target="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>MigraHack</h2>
                            <h3>Challenge: How can we visually communicate immigration data in an engaging way?</h3>
                            <p>
                                Migrahack takes the collaborative culture of hackathons and applies it to the difficult work of making sense of immigration data. And it does so with three distinct groups -- journalists, programmers and community members, usually drawn from community non-profits. ChiByDesign led a data visualization workshop for Migrahack participants to transform immigration data into a story.
                            </p>
                            <ul class="list-inline item-details">
                            </ul>
                            <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal animated fadeIn" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                            <h2 class="team-h2">Our Results</h2><br><br>
                                <!-- Portfolio Grid Section -->
                                <section class="slide-height">
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                  <!-- Indicators -->
                                  <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                    <li data-target="#myCarousel" data-slide-to="4"></li>
                                  </ol>

                                  <!-- Wrapper for slides -->
                                  <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="container text-center" style="padding-top:300px; color:white">
                                            <h1 class="case-title">Grove 3547</h1>
                                            <button type="button" class="btn btn-success btn-lg add-button" data-toggle="modal" data-target="#portfolioModal1" data-dismiss="modal">View Case Study</button>    
                                        </div>
                                    </div>

                                    <div class="item two">
                                        <div class="container text-center" style="padding-top:300px; color:white">
                                            <h1 class="case-title">Expunge.io Web App</h1>
                                            <button type="button" class="btn btn-success btn-lg add-button" data-toggle="modal" data-target="#portfolioModal2" data-dismiss="modal">View Case Study</button>    
                                        </div>
                                    </div>

                                    <div class="item three">
                                        <div class="container text-center" style="padding-top:300px; color:white">
                                            <h1 class="case-title">Youth Tech Design</h1>
                                            <button type="button" class="btn btn-success btn-lg add-button" data-toggle="modal" data-target="#portfolioModal3" data-dismiss="modal">View Case Study</button>    
                                        </div>
                                    </div>
                                    <div class="item four">
                                        <div class="container text-center" style="padding-top:300px; color:white">
                                            <h1 class="case-title">On The Table Redesign</h1>
                                            <button type="button" class="btn btn-success btn-lg add-button" data-toggle="modal" data-target="#portfolioModal4" data-dismiss="modal">View Case Study</button>    
                                        </div>
                                    </div>
                                    <div class="item five">
                                        <div class="container text-center" style="padding-top:300px; color:white">
                                            <h1 class="case-title">MigraHack</h1>
                                            <button type="button" class="btn btn-success btn-lg add-button" data-toggle="modal" data-target="#portfolioModal5" data-dismiss="modal">View Case Study</button>    
                                        </div>
                                    </div>

                                  <!-- Left and right controls -->
                                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </div>
                                </section><br><br>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal animated bounceIn" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <h1 class="name align-left">About  us</h1>
                        <a href="#about-body"><button class="btn btn-lg glyphicon glyphicon-menu-down" aria-hidden="true"></button></a>
                    </div>
                </div>
            </div>
        </div>
</header>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" class="animated bounceOut">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body" id="about-body">
                            <h1><strong>What</strong> does ChiByDesign mean?</h1>
                    </div>
                </div>
                    <div class="row">
                            <div class="col-lg-12">
                                <p style="text-align: left;">
                                Chicago is known for many things: segregation, hard work, gangs, family, industry, music (so many different types), parks, labor movement, etc. Many of these experiences good and bad play a crucial role in shaping / All of these experiences make Chicagoans who they are: innovative, optimistic, and diverse. The unique qualities of the people and communities of this city are at the heart of the work that we do and it is crucial that we stay true to this spirit. And this is why we choose to base our work in this great city. ChiByDesign, with our hard work, connectivity, and innovative spirit can now design Chicago. 
                                </p>
                            </div>
                    </div>
                     <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body" id="about-body">
                                <h1>How do we do this? Design thinking</h1>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <p style="text-align: left;">
                            Design thinking is a way of working to help humans connect, unlock our hidden creativity, and create the world best suited for humanity. The foundation of design thinking is to build genuine empathy with and for those who need support. After you develop a deep understanding and connection with these people you begin to design creative solutions to the problem. 
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body" id="about-body">
                                <h1>What does your business specialize in?</h1>
                            </div>
                        </div>
                    </div>
                            <ul class="list-inline item-details">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>ChiByDesign specializes in community empowered design. During my work with the Chicago Community Trust and the Grove3547 program in the Bronzeville community I learned that designers don’t need to parachute into communities and then design for them from the outside. Designers need to empower community members with a human centered design approach to navigate and develop solutions for the challenges affecting their lives. </p>
                                    </div>
                                </div>
                            </ul>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
            </div>
        </div>
    </div>