<!-- Portfolio Modals -->
    <div class="portfolio-modal modal animated fadeInDownBig" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title!!!</h2>
                            <hr class="star-primary">
                            <img src="css/grove-work-shop.jpg" class="img-responsive img-centered" alt="">
                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal animated fadeInUpBig" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Expunge.io</h2>
                            <hr class="star-primary">
                            <img src="css/expungeio.jpg" class="img-responsive img-centered" alt="">
                            <p>Worked with youth from across the Chicagoland area, the Justice Advisory Council of Cook County, Legal Assistance Foundation, and Smart Chicago Collaborative to create the web-app to help young people expunge their criminal record. Over 3 years the we worked with the young people to research, design and redesign the web-app to better meet the needs of their peers. We also created a CTA ad campaign to bring awareness to the issue and support to youth who need the service. The Expunge.io project has led to changes in Illinois expungement policy.</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal animated fadeInLeftBig" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Youth Tech Design</h2>
                            <hr class="star-primary">
                            <img src="css/kids-fun.jpg" class="img-responsive img-centered" alt="">
                            <p>During his time at the Stanford d.school Chris designed YouthTechDesign, a summer program for youth to learn human-centered design while creating civic technology (apps, websites, etc.)</p>
                            <img src="css/fun-kids.jpg" class="img-responsive img-centered" alt="">
                            <p>
                            The YouthTechDesign program further bridges the gap between young people, adult decision makers, and the tech sector and allows the youth to create solutions to their self-identified issues. During the 4-week program youth created digital prototypes that addressed issues like access to higher learning, transportation to school, segregation, and access to government assistance.</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Chicago Community Trust</h2>
                            <hr class="star-primary">
                            <img src="css/cct-work-shop.jpg" class="img-responsive img-centered" alt="">
                            <p>Worked with the Chicago Community Trust’s Civic Engagement team to redesign the premier On The Table program. We started by going out to meet and better understand the different hosts of On The Table conversations. This empathy research revealed fascinating insights that helped us create design principles for the future of the already amazing program.</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal animated bounceIn" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <h1 class="name align-left">About  us</h1>
                        <a href="#about-body"><button class="btn btn-lg glyphicon glyphicon-menu-down" aria-hidden="true"></button></a>
                    </div>
                </div>
            </div>
        </div>
</header>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" class="animated bounceOut">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body" id="about-body">
                            <h1>How do we do this? Design thinking</h1>
                            <hr class="star-primary">
                            <p>
                            Design thinking is a way of working to help humans connect, unlock our hidden creativity, and create the world best suited for humanity. The foundation of design thinking is to build genuine empathy with and for those who need support. After you develop a deep understanding and connection with these people you begin to design creative solutions to the problem. ChiByDesign believes that empowering the folks who need the most support with this way of working can unlock limitless creative and effective solutions. 
                            </p>
                            <h1>About Chris Rudd: Founder of ChiByDesign </h1>
                            <hr class="star-primary">
                            <p>"My family moved to Chicago from Gary, Indiana when I was 4. We moved to the far south side and remained there until middle school. My formative years were spent in the Marquette Park neighborhood, a historically racist enclave on the south west side. Martin Luther King Jr. was hit with a brick while marching Marquette Park in the 1960s."</p>
                            <h1>What does your business specialize in?</h1>
                            <p>ChiByDesign specializes in community empowered design. During my work with the Chicago Community Trust and the Grove3547 program in the Bronzeville community I learned that designers don’t need to parachute into communities and then design for them from the outside. Designers need to empower community members with a human centered design approach to navigate and develop solutions for the challenges affecting their lives. </p>
                            <ul class="list-inline item-details">
                                
                            </ul>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>