@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Oswald|Roboto|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Monoton|Rubik+Mono+One');
@font-face {
  font-family: "Bebas Kai";
  src: url(BebasKai-Regular.otf);
}
body {
  background-color: #000;
}
.btn-group-lg>.btn, .btn-lg{
  border-radius: 50px;
}
#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 30vh;
}
#landing-header h1 {
  color: #fff;
  font-size: 100px;
  font-family: 'Monoton', cursive;
}
.views{
  font-family: 'Baloo Bhaijaan', cursive;
  font-weight: 100;
}
.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 28s linear infinite; 
}
.slideshow li:nth-child(1) { 
    background-image: url(../img/cct.JPG)
}
.slideshow li:nth-child(2) { 
  background-image: url(../img/img4.jpg);
  animation-delay: 5s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(../img/laptop.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(../img/ppl.JPG);
  animation-delay: 15s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(../img/img2.jpg);
  animation-delay: 20s; 
}
/*.slideshow li:nth-child(5) { 
  background-image: url(kids-fun.jpg);
  animation-delay: 20s; 
}*/
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}
@media only screen and (max-width: 444px) {
  #landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 17vh;
}
  #landing-header h1 {
    color: #fff;
    font-size: 70px;
    font-family: 'Monoton', cursive;
  }
}
