@import url('https://fonts.googleapis.com/css?family=Monoton|Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800|Karma');
@font-face {
  font-family: "Bebas Kai";
  src: url(BebasKai-Regular.otf);
}
body {
  overflow-x: hidden;
}
p {
  font-size: 20px;
  font-family: "Karma";
  text-align: left;
}
p.small {
  font-size: 16px;
}
.team-p{
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: #FF3434;
}
h1,
h2,
h3,
h5,
h6 {
  font-family: "Bebas Kai";
  text-transform: uppercase;
  font-weight: 700;
}
h4{
  font-family: "Bebas Kai", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.team-h2{
  text-align:left;
  color: #FF3434;
  font-family: "Bebas Kai";
  font-size: 50px;
}
.team-h3{
  text-align:left;
  color: #FF3434;
  font-family: "Bebas Kai";
}
#about h3 {
  font-family: "Bebas Kai";
  text-align: left;
}
#learn-button{
  border-radius: 360px;
  background-color: #0070C5;
  border-color: none;
}
#learn-button:hover{
  background-color: #0070C5;
}
.img-centered {
  margin: 0 auto;
}
header {  
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../images/chicago.jpeg) center center no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    width:100%;
    height: 830px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-bottom: 180px;
  
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
  width:250px;
  height:250px;
  border-radius: 150px;
}
header .intro-text .name {
  padding-top:20px;
  display: block;
  font-family: "Bebas Kai", cursive;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 60px;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300; 
}
.team-images img{
  width: 410px;
  height:410px;
  border-radius: 360px;
  text-align:left;
}
#portfolioModal1 header{
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/grove-work-shop.jpg) center center no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    width:100%;
    height: 570px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}
#portfolioModal1 button{
  border-radius: 60px;
  background-color: black;
  color:white;
  opacity: .8;
}
#portfolioModal1 .glyphicon{
  font-size: 45px;
}
#portfolioModal2 header{
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/expungeio.jpg) center center no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    width:100%;
    height: 570px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}
#portfolioModal2 button{
  border-radius: 60px;
  background-color: black;
  color: #fff;
  opacity: .8;
}
#portfolioModal2 .glyphicon{
  font-size: 45px;
}
#portfolioModal3 header{
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/kids-fun.jpg) center center no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    width:100%;
    height: 570px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}
#portfolioModal3 button{
  border-radius: 60px;
  background-color: black;
  color: #fff;
  opacity: .8;
}
#portfolioModal3 .glyphicon{
  font-size: 45px;
}
#portfolioModal4 header{
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/cct-work-shop.jpg) center center no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    width:100%;
    height: 570px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}
#portfolioModal4 button{
  border-radius: 60px;
  background-color: black;
  color: #fff;
  opacity: .8;
}
#portfolioModal4 .glyphicon{
  font-size: 45px;
}
#portfolioModal5 header{
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/migra3.jpg) center center no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    width:100%;
    height: 570px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}
#portfolioModal5 button{
  border-radius: 60px;
  background-color: black;
  color: #fff;
  opacity: .8;
}
#portfolioModal5 .glyphicon{
  font-size: 45px;
}
#portfolioModal7 header{
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/img3.jpg) center center no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    width:100%;
    height: 570px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}
#portfolioModal7 button{
  border-radius: 60px;
  background-color: black;
  color: #fff;
  opacity: .8;
}
#portfolioModal7 .glyphicon{
  font-size: 45px;
}
#portfolioModal8 header{
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/team.jpeg) center center no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    width:100%;
    height: 570px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}
#portfolioModal8 button{
  border-radius: 60px;
  background-color: black;
  color: #fff;
  opacity: .8;
}
#portfolioModal8 .glyphicon{
  font-size: 45px;
}
#portfolioModal9 header{
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/team.jpeg) center center no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    width:100%;
    height: 570px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}
#portfolioModal9 button{
  border-radius: 60px;
  background-color: black;
  color: #fff;
  opacity: .8;
}
#portfolioModal9 .glyphicon{
  font-size: 45px;
}
.navbar-custom {
  background-color:#fff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom .navbar-brand {
  color: #0070C5;
  font-family: 'Monoton', cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #0070C5;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: #FF3434;
  text-align: center;
}
.navbar-custom .navbar-nav li a:hover {
  color: #FF3434;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: #FF3434;
  text-align: center;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #FF3434;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #FF3434;
}
.navbar-custom .navbar-toggle {
  color: #FF3434;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: red;
  color: white;
}
section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #18BC9C;
  color: white;
  margin-bottom:0px;
  margin-top:0px;
}
section#about{
  background-color: white;
  color: black;
}
#clients{
  background-color: #FF3434;
  color:#fff;
  padding: 50px 0;
}
#clients h2{
  font-size:55px;
  font-family: "Bebas Kai";
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #18BC9C;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
footer {
  color: #fff;
}
footer h3 {
  margin-bottom: 30px;
  font-size: 40px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #FF3434;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #fff;
}
.btn-group-lg>.btn, .btn-lg{
  border-radius: 50px;
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18BC9C;
  background: white;
  border: solid 2px white;
}
.btn-primary {
  color: white;
  background-color: #2C3E50;
  border-color: #2C3E50;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.btn-primary .badge {
  color: #2C3E50;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: #337ab7;
  border-color: #337ab7;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #128f76;
  border-color: #11866f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18BC9C;
  border-color: #18BC9C;
}
.btn-success .badge {
  color: #18BC9C;
  background-color: white;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn-social:hover{
  color: red;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
#skipnav a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: transparent;
  transition: top 1s ease-out, background 1s linear;
  z-index: 2000;
}
#skipnav a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #18BC9C;
  outline: 0;
  transition: top 0.1s ease-in, background 0.5s linear;
}
div#maincontent {
  outline: none;
}
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.slide-height{
  height:990px;
  width: 100%;
  margin-top: -100px;
  margin-bottom: -100px;
}
.item{
  background:linear-gradient(rgba(0,0,0,.1),transparent 100%),url(../images/grove-work-shop.jpg);background-repeat:no-repeat;background-position:center center;background-attachment:scroll;background-size:cover;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;padding-bottom:180px;text-align:center;
}
.two{
  background:linear-gradient(rgba(0,0,0,.1),transparent 100%),url(../images/expungeio.jpg);background-repeat:no-repeat;background-position:center center;background-attachment:scroll;background-size:cover;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;padding-bottom:180px;text-align:center;
}
.three{
  background:linear-gradient(rgba(0,0,0,.1),transparent 100%),url(../images/kids-fun.jpg);background-repeat:no-repeat;background-position:center center;background-attachment:scroll;background-size:cover;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;padding-bottom:180px;text-align:center;
}
.four{
  background:linear-gradient(rgba(0,0,0,.1),transparent 100%),url(../images/cct-work-shop.jpg);background-repeat:no-repeat;background-position:center center;background-attachment:scroll;background-size:cover;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;padding-bottom:180px;text-align:center;
}
.five{
  background:linear-gradient(rgba(0,0,0,.1),transparent 100%),url(../images/migra3.jpg);background-repeat:no-repeat;background-position:center center;background-attachment:scroll;background-size:cover;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;padding-bottom:180px;text-align:center;
}
.btn{
  margin-top: 20px;
}
.case-title{
  font-size: 45px;
}
#logos img:hover{
  border: 2px solid #0070C5;
  color: white;
}
#logos img{
  width: 270.5px;
  height: 110.19px;
  border: 2px solid red;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}
#logos .future-project img{
  height: 200px;
  width: 380px;
}
#logos .free-lunch img{
  height: 200px;
  width: 380px;
}
.list ul {
    text-align: left;
    list-style-position: inside;
}
audio{
  border-radius: 100px;
}
.cd-title {
    position: relative;
    height: 160px;
    line-height: 230px;
    text-align: center
}

.cd-title h1 {
    font-size: 2.4rem;
    font-weight: 700
}

.cd-intro {
    width: 90%;
    max-width: 768px;
    text-align: center;
    margin: 4em auto
}
@media only screen and (min-width:768px) {
    .cd-title {
        line-height: 250px
    }
    .cd-intro {
        margin: 5em auto
    }
}

@media only screen and (min-width:1170px) {
    .cd-title {
        height: 200px;
        line-height: 300px
    }
    .cd-title h1 {
        font-size: 3rem
    }
    .cd-intro {
        margin: 6em auto
    }
}

.cd-headline {
    font-size: 3rem;
    line-height: 1.2
}

@media only screen and (min-width:768px) {
    .cd-headline {
        font-size: 4.4rem;
        font-weight: 300
    }
}

@media only screen and (min-width:1170px) {
    .cd-headline {
        font-size: 6rem
    }
}

.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left
}

.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    font-size: 50px;
}

.cd-words-wrapper b.is-visible {
    position: relative
}

.no-js .cd-words-wrapper b {
    opacity: 0
}

.no-js .cd-words-wrapper b.is-visible {
    opacity: 1
}

.cd-headline.clip span {
    display: inline;
    padding: 0 0
}

.cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top
}

.cd-headline.clip .cd-words-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #aebcb9
}

.cd-headline.clip b {
    opacity: 0
}

.cd-headline.clip b.is-visible {
    opacity: 1
}
@media(max-width:414px) {
    .cd-words-wrapper b {
    font-size: 35px;
    }
}
.header-btn{
    background-color: #EB1400;
}
.logo-icons img{
  height: 250px;
  width:250px;
  text-align: center;
}
.icons-h2 h2{
  font-size:33px;
}
