@media(max-width:414px) {
  #portfolioModal1 header{
    background-attachment: scroll;
  }
  #portfolioModal1 header h1{
    font-size: 50px;
  }
  #portfolioModal2 header{
    background-attachment: scroll;
  }
  #portfolioModal2 header h1{
    font-size: 50px;
  }
  #portfolioModal3 header{
    background-attachment: scroll;
  }
  #portfolioModal3 header h1{
    font-size: 40px;
  }
  #portfolioModal4 header h1{
    font-size: 50px;
  }
  #portfolioModal4 header{
    background-attachment: scroll;
  }
  #portfolioModal5 header h1{
    font-size: 50px;
  }
  #portfolioModal5 header{
    background-attachment: scroll;
  }
  #portfolioModal6 header{
    background-attachment: scroll;
  }
  #portfolioModal6 header h1{
    font-size: 50px;
  }
  #portfolioModal7 header h1{
    font-size: 50px;
  }
  #portfolioModal7 header{
    background-attachment: scroll;
  }
  #portfolioModal8 header{
    background-attachment: scroll;
  }
  .team-images img {
    height:290px;
    width:290px;
  }
  #clients h2{
    font-size: 35px;
  }
  header .intro-text .name{
    font-size:55px;
  }
  .logo-icons img{
      height:350px;
      width:360px;
  }
}
@media (min-width: 768px) {
  header .container {
    padding-top: 190px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 100px;
  }
  header .intro-text .skills {
    font-size: 2.75em;
  }
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
@media(max-width:414px) {
    header {
    background-attachment: scroll;
    background-size:cover;
    }
}
@media (min-width: 1800px){
  header{
    height:1010px;
  }
}
@media(max-width:320px){
  .logo-icons img{
      height:300px;
      width:300px;
  }
}